<div id="header">
  <h1>Thinktank</h1>
  <p>What if your fuel card could report a carbon footprint, automatically?</p>
</div>
<div id="content">
  <div class="bill">
    <h2>Monthly statement for Acme Systems, Inc.</h2>
    <p class="timeframe">1 July 2010 &ndash; 1 August 2010</p>
<%= render :partial => 'purchases/ol', :locals => { :purchases => @purchases } %>
  </div>
</div>
<div id="footer">
  <div id="kudos">
    <p>Thinktank was created by <%= link_to 'Brighter Planet', 'http://brighterplanet.com' %> and is powered by our <%= link_to 'Carbon Middleware', 'http://brighterplanet.com/middleware' %> platform. Developers can check out Thinktank's <%= link_to 'source code', 'http://github.com/rossmeissl/thinktank' %> for details.</p>
  </div>
  <h2>What's going on here?</h2>
  <p>Thinktank is a quick demonstration of Carbon Middleware, Brighter Planet's science-as-a-service technology platform that uses a set of emissions models to analyze the carbon footprint of everyday goods and activities.</p>
  <h2>Where do these numbers come from?</h2>
  <p>Brighter Planet's carbon models pull energy use, emissions, and economic data from dozens of government, academic, and industry sources to estimate the climate impact of everyday purchases. We take great care to ensure our calculations employ the most authoritative, accurate, up-to-date data and methodologies available.</p>
  <h2>Can I get this with my current fuel card?</h2>
  <p>No. But we can certainly let you know when you can: shoot us an email at staff@brighterplanet.com.</p>
  <h2>I work for a fuel card issuer. How can I learn more?</h2>
  <p>Contact us at staff@brighterplanet.com to find out how Brighter Planet can help you integrate efficient fuel purchase footprinting into your existing systems.</p>
</div>

<script type="text/javascript">
var timer;

document.observe('dom:loaded', function() {
  $$('.bill ol li').each(function(purchase) {
    var url = purchase.down('dd.url').innerHTML.unescapeHTML();
    var link = new Element('a', { 'href': url }).update('<span>Calculate </span>CO₂');
    link.observe('click', function(ev) {
      ev.stop();
      showEstimate(purchase, link.getAttribute('href'));
    })
    purchase.insert({ 'top': link}); 
  });
});

function showEstimate(purchase, url) {
  purchase.down('a').hide();
  timer = new Date().getTime();
  var iframe = new Element('iframe', { 'src': url, 'allowtransparency': 'true', 'style': 'background: transparent;', 'frameborder': '0', 'scrolling': 'no', 'onload': 'stopTimer(this);' });
  purchase.insert({ 'top': iframe });
  var methodology = new Element('p');
  var methodologyLink = new Element('a', { 'href': url.gsub('.txt', '') }).update('Methodology');
  var methodologySpan = new Element('span');
  methodology.insert({ 'bottom': methodologySpan });
  methodology.insert({ 'bottom': methodologyLink });
  purchase.insert({ 'top': methodology });
}

function stopTimer(iframe) {
  var end = new Date().getTime();
  var seconds = (end - timer) / 1000;
  iframe.up('li').down('p span').update('Calculated remotely in ' + seconds + ' seconds. ');
}
</script>
